{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} {{ client.first_name }} {% endblock %}

{% block content %}
  <p class="display-4">Client Detail</p>
  <table class="table p-3 mx-5">
      <tr>
        <th scope="row">
          <p>Client ID</p>
        </th>
        <td>
          <p>{{ client.id }}</p>
        </td>
      </tr>
      <tr>
        <th scope="row">
          <p>First Name</p>
        </th>
        <td>
          <p>{{ client.first_name }}</p>
        </td>
      </tr>
      <tr>
        <th scope="row">
          <p>Last Name</p>
        </th>
        <td>
          <p>{{ client.last_name }}</p>
        </td>
      </tr>
      <tr>
        <th scope="row">
          <p>Email</p>
        </th>
        <td>
          <p>{{ client.email }}</p>
        </td>
      </tr>
      <tr>
        <th scope="row">
          <p>Driving Licence</p>
        </th>
        <td>
          <p>{{ client.driving_licence }}</p>
        </td>
      </tr>
      <tr>
        <th scope="row">
          <p>City</p>
        </th>
        <td>
          <p>{{ client.city }}</p>
        </td>
      </tr>
  </table>
{% endblock %}
