{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} Clients {% endblock %}

{% block content %}
  <a href="{% url 'clients:clients-create' %}" class="btn btn-outline-primary m-3" >
    Create new client
  </a>
  <p class="display-4">Clients List</p>
  <table class="table">
    <thead>
      <th scope="col">
       <p>ID</p>
      </th>
      <th scope="col">
       <p>Email</p>
      </th>
      <th scope="col">
       <p>Details</p>
      </th>
    </thead>
    {% for client in client_list %}
      <tr>
        <th scope="row">
          <p>{{ client.id }}</p>
        </td>
        <td>
          <p>{{ client.email }}</p>
        </td>
        <td>
          <a href="{% url 'clients:clients-detail' client.id %}">See more...</a>
        </td>
      </tr>
    {% endfor %}
  </table>

  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-primary" href="?page=1">&laquo; first  </a>
            <a class="btn btn-outline-primary" href="?page={{ page_obj.previous_page_number }}">  previous  </a>
        {% endif %}

        <span class="btn btn-outline-secondary">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a class="btn btn-outline-primary" href="?page={{ page_obj.next_page_number }}">  next  </a>
            <a class="btn btn-outline-primary" href="?page={{ page_obj.paginator.num_pages }}">  last &raquo;</a>
        {% endif %}
    </span>
  </div>
{% endblock %}
